* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}















/* main {
    background-color: blue;
    width: calc();
}

#sidebar {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    color: #FFF;
    background-color: black;
    height:

}

#sidebar .sidebar-menu1>a {
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;

}

#sidebar .sidebar-menu2>span, .sidebar-footer>span {
    display: block;
    font-size: 15px;
}

#sidebar .sidebar-footer {
    justify-content: flex-end;
} */
