* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: green; */
    color: white;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/********************* SIDEBAR*******************************/

.side {
    width: 300px;
    float: left;
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 20px 20px;
    color: #FFF;
}

.side::after {
    content: '';
    clear: both;
    display: table;
}

.sidebar-header img {

}

.sidebar-link>a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
}

.sidebar-link, .sidebar-panel {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



/************************** CONTENT ********************/

.content {
    float: right;
    background-color: yellow;
    width: calc(100% - 300px);
}

.content::after {
    content: '';
    clear: both;
    display: table;
}

footer {

    padding-top: 200px;
    background-color: blue;
    height: 200px;
}
